[submodule "themes/hugo-theme-codex"]
	path = themes/hugo-theme-codex
	url = git@github.com:jakewies/hugo-theme-codex.git
[submodule "public"]
	path = public
	url = git@github.com:rigille/rigille.github.io.git
	branch = master
